* {
    box-sizing: border-box;
}

html, body {
    padding: 0px;
    margin: 0px;
}

.transtable-edit-cell[data-dirty="true"] {
    background-color: #FFFA99;
}
table tr th {
    text-align: left;
}
